<section class="page-container">
  <div class="employee-container">
    <div class="employee-header">
      <span>Employee List</span>
      <button>New Employee</button>
    </div>
    <section class="employee-info">
      <span>Image</span>
      <span>Name</span>
      <span>Salary</span>
      <span>Age</span>
    </section>
    <div class="employee-body" *ngFor="let employee of allEmployees">
      <app-employee
        [singleEmployee]="employee"
      >
      </app-employee>
    </div>
  </div>
</section>