.page-container {
  width: 100vw;
  height: 100vh;

  .employee-container {
    display: grid;
    grid-gap: 10px;
    margin: 10% 20% 0 20%;
    border: 1px solid black;
    
    .employee-header {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      padding: 10px;
    }

    .employee-info {
      padding: 0 20px 0 35px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-content: space-around;
      justify-items: center;

      span {
        font-weight: bold;
      }
    }

    .employee-body {
      display: grid;
      grid-gap: 5px;
      padding: 10px;
    }
  }
}