<form [formGroup]="editEmployeeForm" (ngSubmit)="editEmployee()">
  <section class="employee-info">
    <span>Name</span>
    <span>Age</span>
    <span>Salary</span>
    <span>Image</span>
    <input type="text" formControlName="name" placeholder="{{name}}">
    <input type="text" formControlName="age" placeholder="{{age}}">
    <input type="text" formControlName="salary" placeholder="{{salary}}">
    <input type="text" formControlName="image" placeholder="{{image}}">
    <button type="submit" [disabled]="editEmployeeForm.invalid">Save</button>
  </section>
</form>