.employee-info {
  display: grid;
  grid-gap: 10px;
  margin: 10% 20% 0 20%;
  border: 1px solid black;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  justify-items: center;

  span {
    font-weight: bold;
  }
}

button {
  position: relative;
    top: 0px;
    left: 23vw;
    margin-top: 40px;

}