<section [ngClass]="{
  'single-employee': showSingle
}">
<section [ngClass]="{
  'employee-info': showSingle,
  'no-info': !showSingle
}">
  <span>Image</span>
  <span>Name</span>
  <span>Age</span>
  <span>Salary</span>
</section>
  <section class="employee-wrapper">
    <div class="employee-image">
      <span>{{ image }}</span>
    </div>
    <div class="employee-name">
      <span>{{ name }}</span>
    </div>
    <div class="employee-age">
      <span>{{ age }}</span>
    </div>
    <div class="employee-salary">
      <span>{{ salary }}</span>
    </div>
    <div>
      <button *ngIf="!showSingle" [routerLink]="['/employees', id]" >Show</button>
      <button *ngIf="!showSingle" [routerLink]="['/employees/edit', id]" >Edit</button>
      <button *ngIf="showSingle" [routerLink]="['/employees']">Back</button>
    </div>
  </section>
</section>