.employee-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  justify-items: center;
  

  .employee-image {
    display: grid;
    height: 25px;
    width: 25px;
    background-color: royalblue;
    border-radius: 50%;

    span {
      justify-self: center;
    }
  }
}

.single-employee {
  margin: 10% 20% 0 20%;
  border: 1px solid black;
}

.employee-info {
  padding: 0 20px 0 35px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  justify-items: center;

  span {
    font-weight: bold;
  }
}

.no-info {
  display: none;
}